body {
	font-family: 'Habibi', serif;
}
.top-pad {
	padding-top: 60px;
}
form label {
	color: #117EDD;
}
form .help-block {
	font-size: 10px;
	font-style: italic;
	padding-left: 10px;
}
a.clear-results {
	font-size: 11px;
}
.form-error {
	color: #A63836;
}

#positionList {
	width: 100%;
}
#positionList td {
	padding: 4px;
}
#positionList th {
	background-color: #8C4006;
	color: #FFEDBE;
	font-family: 'Habibi', serif;
	font-weight: bold;
}

.position-desc .position-label {
	font-weight: bold;
	padding-right: 10px;
}